<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- <bean name="tv" class="com.yedam.app.ioc.LgTV"/> -->
	
	<context:component-scan base-package="com.yedam.app"/>
	
	<!-- <bean name="sony" 
		  class="com.yedam.app.ioc.SonySpeaker" 
		  scope="singleton"/>  -->
	<!--  <bean name="sony" class="com.yedam.app.ioc.SonySpeaker"/>
	<bean name="apple" class="com.yedam.app.ioc.AppleSpeaker"/>
	<bean name="tv" class="com.yedam.app.ioc.LgTV">
		<property name="speaker" ref="sony"></property>	
	</bean> --> 
	
	<aop:aspectj-autoproxy proxy-target-class="true"/> 

<!--<bean id="logAdvice" class="com.yedam.app.aop.LogAdvice"></bean>
	<bean id="afterAdvice" class="com.yedam.app.aop.AfterReturningAdvice"></bean>--> <!-- 빈추가 -->  
<!--	<aop:config>
		<aop:pointcut expression="execution(* com.yedam.app..*.*(..))" id="allpointcut"/>
		<aop:pointcut expression="execution(* com.yedam.app..*.select*(..))" id="selectPointcut"/>
		<aop:aspect ref="logAdvice">
			<aop:before method="printLog" pointcut-ref="allpointcut"/>
		</aop:aspect>   -->
		
		<!-- aop추가 -->
<!--	<aop:aspect ref="afterAdvice">
			<aop:after-returning method="afterLog" pointcut-ref="selectPointcut" returning="returnObj"/>--> <!-- 포인트컷메소드에 리턴결과값을 넘겨주기 위한 인수를 쓰는 곳이 returning임 -->
<!--    </aop:aspect>
		
	</aop:config> -->

	</beans>
	
